.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: rgb(35, 47, 53);
    border: 1px solid #fff;
    cursor: pointer;
}