.content {
	position: relative;
	grid-area: c;
	background-color: rgba(54, 70, 77, 1);
	color: #fff;
	border: 1px solid #fff;
	width: 100%;
}

.mainImg {
	max-width: 100%;
}

.linkContainer {
	width: 100%;
	position: absolute;
	top: 110px;
}

.gitLink {
	display: block;
	width: 70px;
	transition: 1000ms;
	margin: 0 auto;
	cursor: pointer;
}

.gitLink:hover {
	transform: scale(1.5);
}