.friendsMainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 0 5%;
    margin: 10px;
    @media (maxWidth: '767px') {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}