.postBlock {
    padding: 5px 20px;
    position: relative;
    transition: 700ms;
}

.postBlock:hover {
    background-color: rgb(65, 86, 95);
}

.content {
    font-size: 1.2em;
    word-wrap: break-word;
    max-width: 95%;
}

.ratingContainer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.postButtonsContainet {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 20px;
    right: 20px;
    height: 50px;
}